.app.light {
    --bg-color: rgb(221, 221, 222);
    --interted-bg-color: rgb(11, 11, 93);

    --primary-color: rgb(8, 13, 174);
    --secondary-color: #0077ff;
    --interted-primary-color: rgb(54, 150, 54);
    --interted-secondary-color: #04ff04;
}
